.xidmetler{
    width: 100%;
    background-image: url('https://kargolux.az/kargolux/assets/images/img/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150vh;
}