*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.userProfile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 40px 0;
        gap: 20px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.283);
        .userProfileText{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 10px;
            .kabinet{
                width: 23%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;
                h1{
                    font-size: 25px;
                    font-weight: 800;
                    font-style: normal;
                    line-height: normal;
                    color: rgb(40, 33, 65);
                }
                h2{
                    font-size: 18px;
                    font-weight: 600;
                    font-style: normal;
                    line-height: normal;
                    color: rgb(40, 33, 65);
                }
            }
            .balans{
                width: 60%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                .balansCard{
                    width: 25%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 10px;
                    .balansImg{
                        border-radius: 50%;
                        border: 1px solid rgba(123, 92, 225, 0.541);
                        font-size: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                    }
                    .balansText{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        h5{
                            font-size: 14px;
                            font-weight: 700;
                            font-style: normal;
                            line-height: normal;
                            color: rgb(40, 33, 65);
                        }
                        span{
                            font-size: 22px;
                            font-weight: 800;
                            font-style: normal;
                            line-height: normal;
                            color: rgb(123, 92, 225);
                        }
                    }
                }

            }
            .sifarishEt{
                width: 13%;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                    width: 100%;
                    background-color: rgb(40, 33, 65);
                    border: none;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    line-height: normal;
                    color: white;
                    padding: 15px 0;
                    transition: 0.5s ease;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(101, 92, 116);
                    }
                }
            }
        }
        .userProfileCard{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 40px;
            .userProfilePanel{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.708);
                width: 23%;
                border-radius: 10px;
                gap: 25px;
                padding: 30px;
                .userProfileFaktura{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        background-color: rgb(123, 92, 225);
                        color: white;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        line-height: normal;
                        padding: 15px 0;
                        transition: 0.5s ease;
                        &:hover{
                            cursor: pointer;
                            background-color: rgba(123, 92, 225, 0.696);
                        }
                    }
                }
                .userProfileName{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    .cardImg{
                        border-radius: 50%;
                        background-color: rgb(255, 109, 103);
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 24px;
                        padding: 15px;
                    }
                    .cardText{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 5px;
                        h5{
                            font-size: 14px;
                            font-weight: 700;
                            font-style: normal;
                            line-height: normal;
                            color: rgb(123, 92, 225);
                        }
                        span{
                            font-size: 14px;
                            font-weight: 700;
                            font-style: normal;
                            line-height: normal;
                            color: rgb(40, 33, 65);
                        }
                    }
                }
                .userProfileInformation{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 18px;
                    button{
                        border: none;
                        background-color: transparent;
                        font-size: 14px;
                        font-weight: 700;
                        font-style: normal;
                        line-height: normal;
                        color: rgba(128, 128, 128, 0.817);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        transition: 0.5s ease;
                        &:hover{
                            cursor: pointer;
                            color: rgb(123, 92, 225);
                        }
                    }
                }
            }
            .userProfileContent{
                background-color: white;
                border-radius: 10px;
                width: 75%;
                padding: 30px;
                .personalInformation{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 25px;
                    .informationBtns{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 40px;
                        button {
                            background-color: transparent;
                            color: rgb(40, 33, 65);
                            width: 20%;
                            border: none;
                            border-radius: 10px;
                            padding: 15px 0;
                            font-size: 16px;
                            font-weight: 700;
                            &:hover{
                                cursor: pointer;
                            }
                            &.active {
                                background-color:rgb(255, 109, 103);
                                color: white;
                            }
                        }   
                         
                    }
                    form{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        label{
                            width: 45%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: 6px;
                            h4{
                                font-size: 14px;
                                font-weight: 400;
                                font-style: normal;
                                line-height: normal;
                                color: rgb(40, 33, 65);
                            }
                            input{
                                width: 100%;
                                outline: none;
                                border: 1px solid rgba(40, 33, 65, 0.689);
                                border-radius: 10px;
                                padding: 15px;
                            }
                        }
                        button{
                            border: none;
                            border-radius: 10px;
                            background-color: rgb(40, 33, 65);
                            color: white;
                            font-size: 14px;
                            font-weight: 600;
                            font-style: normal;
                            line-height: normal;
                            padding: 15px 25px;
                            transition: 0.5s ease;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .balanceTl{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 15px;
                    h1{
                        font-size: 26px;
                        color: rgb(123, 92, 225);
                    }
                    form{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 20px;
                        label{
                            width: 70%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 6px;
                            h4{
                                font-size: 16px;
                                font-weight: 700;
                                color: rgb(40, 33, 65);
                            }
                            input{
                                border: 1px solid rgb(40, 33, 65);
                                border-radius: 10px;
                                outline: none;
                                padding: 10px 6px;
                                width: 100%;
                            }
                        }
                        button{
                            border: none;
                            background-color: rgb(40, 33, 65);
                            padding: 6px 15px;
                            color: white;
                            border-radius: 10px;
                            font-size: 14px;
                            font-weight: 800;
                            transition: 0.5s ease;
                            &:hover{
                                cursor: pointer;
                                background-color: rgba(40, 33, 65, 0.603);
                            }
                        }
                    }
                }
                .courierOrder{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 20px;
                    p{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    input{
                        width: 72%;
                        border-radius: 10px;
                        border: 1px solid rgb(40, 33, 65);
                        outline: none;
                        padding: 15px 5px;
                        &::placeholder{
                            color: rgba(128, 128, 128, 0.477);
                        }
                    }
                    button{
                        width: 25%;
                        border: none;
                        background-color: rgb(255, 109, 103);
                        color: white;
                        padding: 15px 0;
                        font-size: 16px;
                        font-weight: 600;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .kuryerrr{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        h4{
                            font-size: 18px;
                        }
                        b{
                            font-size: 14px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                .balanceAzn{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 15px;
                    h1{
                        font-size: 26px;
                        color: rgb(123, 92, 225);
                    }
                    form{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 20px;
                        label{
                            width: 70%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 6px;
                            h4{
                                font-size: 16px;
                                font-weight: 700;
                                color: rgb(40, 33, 65);
                            }
                            input{
                                border: 1px solid rgb(40, 33, 65);
                                border-radius: 10px;
                                outline: none;
                                padding: 10px 6px;
                                width: 100%;
                            }
                        }
                        button{
                            border: none;
                            background-color: rgb(40, 33, 65);
                            padding: 6px 15px;
                            color: white;
                            border-radius: 10px;
                            font-size: 14px;
                            font-weight: 800;
                            transition: 0.5s ease;
                            &:hover{
                                cursor: pointer;
                                background-color: rgba(40, 33, 65, 0.603);
                            }
                        }
                    }
                }
                .addressisTurkey{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    h1{
                        color: rgb(123, 92, 225);
                        font-size: 30px;
                        font-weight: 700;
                    }
                    .cards{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: space-between;
                        gap: 20px;
                        .card{
                            width: 30%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            gap: 5px;
                            h4{
                                color: rgb(123, 92, 225);
                            }
                            span{
                                color: rgb(40, 33, 65);
                                font-weight: 500;
                            }
                        }
                    }
                }
                .logout{
                    button{
                        border: none;
                        border-radius: 10px;
                        background-color: rgb(40, 33, 65);
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        font-style: normal;
                        line-height: normal;
                        padding: 15px 25px;
                        transition: 0.5s ease;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}



/* Media queries */
@media only screen and (max-width: 1200px) {
    .userProfile .container {
        width: 90%;
    }
    .userProfile .userProfileCard .userProfileContent {
        width: 70%;
    }
    .userProfile .userProfileText .balans .balansCard {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    .userProfile .container {
        width: 95%;
    }
    .userProfile .userProfileText {
        flex-direction: column;
        align-items: center;
    }
    .userProfile .userProfileText .kabinet,
    .userProfile .userProfileText .balans,
    .userProfile .userProfileText .sifarishEt {
        width: 100%;
        text-align: center;
    }
    .userProfile .userProfileCard {
        flex-direction: column;
        align-items: center;
    }
    .userProfile .userProfileCard .userProfilePanel,
    .userProfile .userProfileCard .userProfileContent {
        width: 90%;
    }
    .userProfile .userProfileContent .personalInformation .informationBtns button {
        width: 30%;
    }
    .userProfile .userProfileContent .balanceTl form {
        width: 80%;
    }
    .userProfile .userProfileContent .balanceTl form label {
        width: 100%;
    }
    .userProfile .userProfileContent .balanceTl form button {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .userProfile .userProfileText {
        gap: 20px;
    }
    .userProfile .userProfileCard .userProfilePanel {
        gap: 15px;
        padding: 20px;
    }
    .userProfile .userProfileCard .userProfileContent {
        padding: 20px;
    }
    .userProfile .userProfileContent .personalInformation form label {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .userProfile{
        width: 100%;
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            .userProfileText{
                display: flex;
                flex-direction: column;

            }
            .userProfileCard{
                display: flex;
                flex-direction: column;
            }
        }
    }
}