.addFaktura{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        // border-bottom: 1px solid rgba(128, 128, 128, 0.283);
        .addFakturaText{
            width: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover{
                button{
                    cursor: pointer;
                    background-color: #9279E7;
                }
                p{
                    cursor: pointer;
                    color: rgba(40, 33, 65, 0.705);
                }
            }
            button{
                background-color: #7B5CE1;
                border: none;
                border-radius: 50%;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 22px;
                transition: 0.5s ease;
            }
            p{
                font-size: 16px;
                font-weight: 600;
                font-family: 'Nunito';
                font-style: normal;
                line-height: normal;
                color: 
                rgb(40, 33, 65);
                transition: 0.5s ease;
            }
        }
        .addFakturaBtns{
            width: 26%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                font-size: 16px;
                font-weight: 600;
                font-family: 'Nunito';
                font-style: normal;
                line-height: normal;
                border: none;
                border-radius: 10px;
                padding: 15px 0px;
                width: 47%;
                color: white;
            }
            .faktura{
                background-color: #FF6F69;
                transition: 0.5s ease;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(253, 133, 130);
                }
            }
            .sifarish{
                background-color: #282141;
                transition: 0.5s ease;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(101, 92, 116);
                }
            }
        }
    }
}